*.ipynb_checkpoints
data/*
outputs/*
*.tar.gz
dirs.txt
.Rhistory
outputs
outputs/*
gpar_zero_shot
gpar_zero_shot/*
Data/*
__pycache__/*
**/__pycache__/
Results/*
Graphics/*
Pipes/logs/*
Pipes/.snakemake
Pipes/.ipynb_checkpoints
Pipes/predictions
Pipes/pickles
Pipes/result
Figshare
Figshare.zip
SequenceBenchmark.zip
Data
Data/*
Results
Results/*
logs
logs/*
zrimec_model_notebook
regev_model_notebook
*.xls
*.csv
*.tsv
Graphics/*
*.*~
slurm-status.log
Pipes/slurm-status.log
.ropeproject
Models/Xpresso/downloaded/*
Models/Basenji/downloaded/*
.snakemake
.snakemake/*
slurm-status.log
*.parquet
